<a href="https://colab.research.google.com/github/BogdanType/dap-2024/blob/main/rep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Отчет о выполненной работе (лаб.р. 4)

Используя набор данных titanic.csv выполните следующие 10 заданий.

In [10]:
import numpy as np
import pandas as pd

1. Создайте DataFarame из файла titanic.csv, в качестве индекса используйте столбец "PassengerId"

In [44]:
titanic_df = pd.read_csv("titanic.csv", index_col='PassengerId')
titanic_df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

2. Просмотрите первые 6 строк

In [11]:
titanic_df.head(6)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q

3. Выведите описание данных

In [12]:
titanic_df.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

4. Сколько мужчин / женщин находилось на борту?

In [16]:
male = titanic_df['Sex'] == 'male'
female = titanic_df['Sex'] == 'female'
print("На борту:")
print("Мужчин -", male.sum())
print("Женщин -", female.sum())

На борту:
Мужчин - 577
Женщин - 314

4. Выведите распределение переменной Pclass (социально-экономический статус) и это же распределение, только для мужчин / женщин по отдельности. Сколько было мужчин 2-го класса

In [19]:
pclass = titanic_df['Pclass']
print("Социально-экономический статус:\n", pclass.value_counts())
print("\nСоциально-экономический статус для мужчин:\n", pclass[male].value_counts())
print("\nСоциально-экономический статус для женщин:\n", pclass[female].value_counts())
count = pclass[male].value_counts().loc[2]
print("\nКоличество мужчин в 2 классе:", count)

Социально-экономический статус:
 Pclass
3    491
1    216
2    184
Name: count, dtype: int64

Социально-экономический статус для мужчин:
 Pclass
3    347
1    122
2    108
Name: count, dtype: int64

Социально-экономический статус для женщин:
 Pclass
3    144
1     94
2     76
Name: count, dtype: int64

Количество мужчин в 2 классе: 108

5. Каковы медиана и среднеквадрати́чное отклонение платежей (Fare)? Округлите до 2 десятичных знаков.

In [20]:
median = round(titanic_df['Fare'].median(), 2)
std = round(titanic_df['Fare'].std(), 2)
print("Медиана:", median)
print("Среднеквадрати́чное отклонение:", std)

Медиана: 14.45
Среднеквадрати́чное отклонение: 49.69

6. Правда ли, что люди моложе 30 лет выживали чаще, чем люди старше 60 лет? Каковы доли выживших в обеих группах?

In [51]:
younger = titanic_df[titanic_df['Age'] < 30]
older = titanic_df[titanic_df['Age'] > 60]
ysurvived = round(younger['Survived'].mean(), 2)
osurvived = round(older['Survived'].mean(), 2)
print("Доля выживанания людей моложе 30 лет:", ysurvived)
print("Доля выживания людей старше 60 лет:", osurvived)
print("Люди моложе 30 лет выживали чаще!") if ysurvived > osurvived else print("Данное утверждение неверно")

Доля выживанания людей моложе 30 лет: 0.41
Доля выживания людей старше 60 лет: 0.23
Люди моложе 30 лет выживали чаще!

7. Правда ли, что женщины выживали чаще мужчин? Каковы доли выживших в обеих группах?

In [50]:
male = titanic_df[titanic_df['Sex'] == "male"]
female = titanic_df[titanic_df['Sex'] == "female"]
msurvived = round(male['Survived'].mean(), 2)
fsurvived = round(female['Survived'].mean(), 2)
print("Доля выживания мужчин:", msurvived)
print("Доля выживания женщин:", fsurvived)
print("Женщины выживали чаще мужчин!") if fsurvived > msurvived else print("Данное утверждение неверно")

Доля выживания мужчин: 0.19
Доля выживания женщин: 0.74
Женщины выживали чаще мужчин!

8. Найдите самое популярное имя среди пассажиров Титаника мужского пола?

In [37]:
name = male['Name'].str.split(" ").str[2]
print(name)
print("\n"f"Наиболее часто встречаемое имя мужского пола - {name.mode().iloc[0]}")

PassengerId
1           Owen
5        William
6          James
7        Timothy
8          Gosta
         ...
884    Frederick
885        Henry
887       Juozas
890         Karl
891      Patrick
Name: Name, Length: 577, dtype: object

Наиболее часто встречаемое имя мужского пола - William

9. Как отличается средний возраст мужчин / женщин в зависимости от класса обслуживания? Выберите верные утверждения:
  1. В среднем мужчины 1-го класса старше 40 лет
  2. В среднем женщины 1-го класса старше 40 лет
  3. Мужчины всех классов в среднем старше женщин того же класса
  4. В среднем люди в 1 классе старше, чем во 2-ом, а те старше представителей 3-го класса

In [53]:
mean_age = titanic_df.groupby(['Pclass', 'Sex'])['Age'].mean()
print(mean_age)

men_first_class = titanic_df[(titanic_df['Pclass'] == 1) & (titanic_df['Sex'] == 'male')]
women_first_class = titanic_df[(titanic_df['Pclass'] == 1) & (titanic_df['Sex'] == 'female')]

men_second_class = titanic_df[(titanic_df['Pclass'] == 2) & (titanic_df['Sex'] == 'male')]
women_second_class = titanic_df[(titanic_df['Pclass'] == 2) & (titanic_df['Sex'] == 'female')]

men_third_class = titanic_df[(titanic_df['Pclass'] == 3) & (titanic_df['Sex'] == 'male')]
women_third_class = titanic_df[(titanic_df['Pclass'] == 3) & (titanic_df['Sex'] == 'female')]


men_first_class_age = round(men_first_class['Age'].mean(), 2)
women_first_class_age = round(women_first_class['Age'].mean(), 2)

men_second_class_age = round(men_second_class['Age'].mean(), 2)
women_second_class_age = round(women_second_class['Age'].mean(), 2)

men_third_class_age = round(men_third_class['Age'].mean(), 2)
women_third_class_age = round(women_third_class['Age'].mean(), 2)


print("\nАнализ утверждений:")


print("1. В среднем мужчины 1-го класса старше 40 лет:", "Верно!" if men_first_class_age > 40 else "Неверно!")


print("2. В среднем женщины 1-го класса старше 40 лет:", "Верно!" if women_first_class_age > 40 else "Неверно!")


men_older_women = (
    men_first_class_age > women_first_class_age and
    men_second_class_age > women_second_class_age and
    men_third_class_age > women_third_class_age
)

print("3. Мужчины всех классов в среднем старше женщин того же класса:", "Верно!" if men_older_women else "Неверно!")


first_class_older = (men_first_class_age > men_second_class_age > men_third_class_age and
                     women_first_class_age > women_second_class_age > women_third_class_age)
print("4. В среднем люди в 1 классе старше, чем во 2-ом, а те старше представителей 3-го класса:", "Верно!" if first_class_older else "Неверно!")

Pclass  Sex
1       female    34.611765
        male      41.281386
2       female    28.722973
        male      30.740707
3       female    21.750000
        male      26.507589
Name: Age, dtype: float64

Анализ утверждений:
1. В среднем мужчины 1-го класса старше 40 лет: Верно!
2. В среднем женщины 1-го класса старше 40 лет: Неверно!
3. Мужчины всех классов в среднем старше женщин того же класса: Верно!
4. В среднем люди в 1 классе старше, чем во 2-ом, а те старше представителей 3-го класса: Верно!

10. Сравните возраст у спасенных и у погибших пасажиров. Средний возраст погибших выше, верно?

In [54]:
survived = titanic_df[titanic_df['Survived'] == 1]
dead = titanic_df[titanic_df['Survived'] == 0]
survived_age = round(survived['Age'].mean(), 2)
dead_age = round(dead['Age'].mean(), 2)
print("Возраст спасенных пасажиров:", survived_age)
print("Возраст погибших пасажиров:", dead_age)
print("Средний возраст погибших выше!") if dead_age > survived_age else print("Утверждение неверно")

Возраст спасенных пасажиров: 28.34
Возраст погибших пасажиров: 30.63
Средний возраст погибших выше!